{
 	margin: 0;
  	padding: 0;
  	border: 0;
  	font: inherit;
  	font-size: 100%;
  	vertical-align: baseline;
}
html {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle; 
}
q, blockquote {
	quotes: none;
}
a img {
	border: none;
}
article, aside, details, figcaption, figure, header, hgroup, main, menu, nav, section, summary {
	display: block;
}
* {
	box-sizing: border-box;
}
html {
	position: relative;
	height: 100%;
	font-size: 16px;
	font-family: 'Latio', sans-serif;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding-top: 53px;
	padding-bottom: 64px;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	height: 53px;
	width: 100%;
}
.main {
	height: 100%;
}
.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 64px;
	width: 100%;
}
.team-menu {
	position: relative;
	width: 220px;
	height: 53px;
	line-height: 53px;
	font-weight: 900;
	padding: 0 1rem;
	color: #ffffff;
	background: #3e313c;
	border-bottom: 2px solid #372c36;
	float: left;
	cursor: pointer;
}
.channel-menu_name {
	display: inline-block;
	padding: 0 .5rem 0 1.5rem;
	color: #555459;
	font-size: 1.4rem;
	font-weight: 900;
	line-height: 53px;
	cursor: pointer;
}
.channel-menu_prefix {
	color: #9e9ea6;
	padding-right: .1rem;
	font-weight: 500;
}
.listings {
	height: 100%;
	width: 220px;
	float: left;
	color: #ab9ba9;
	background-color: #4d394b;
	overflow-y: auto;
	overflow-x: hidden;
}
.message-history {
	margin-left: 220px;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	padding: 0 18px 1rem 1.5rem;
}
.listings_channels {
	margin: 1rem 0 2rem;
}
.listings_header {
	text-align: left;
	font-size: .8rem;
	line-height: 1.25rem;
	margin: 0 1rem .1rem;
	text-transform: uppercase;
	font-weight: 700;
	color: #ab9ba9;
	width: 165px;
	position: relative;
}
.channel_list {
	list-style-type: none;
	text-align: left;
	color: #ab9ba9;
}
.channel {
	height: 24px;
	line-height: 24px;
	-moz-border-radius-topright: 0.25rem;
	-webkit-border-top-right-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	-moz-border-radius-bottom-right-radius: 0.25rem;
	-webkit-border-bottom-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	margin-right: 17px;
	color: #ffffff;
	padding-left: 1rem; 
}