{
 	margin: 0;
  	padding: 0;
  	border: 0;
  	font: inherit;
  	font-size: 100%;
  	vertical-align: baseline;
}
html {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle; 
}
q, blockquote {
	quotes: none;
}
a img {
	border: none;
}